// import variable
@import './variables.scss';

// style main-container
.appbar-main-container {
    display: flex;
    width: 100%; height: 50px;
    z-index: 5;
    background-color: $blue10;
    @include depth-2;
    .appbar-burger {
        @include flex (row, center, center);
        @include animation-time(200ms);
        height: 50px; width: 50px;
        cursor: pointer;
        &:hover {
            background-color: rgba($color: $gray220, $alpha: 0.1);
        }
    }
    .appbar-contents {
        @include flex (row, space-between, center);
        height: 50px; width: calc(100% - 50px);
        padding: 0px 20px;
        #appbar-left h1 {
            color: white;
            font-size: 18px;
            font-weight: 600;
        }
        #appbar-middle {
            width: 30%; height: 35px;
        }
        #appbar-right {
            display: flex;
            #theme, #notification, #avatar {
                @include flex (row, center, center);
                @include animation-time(200ms);
                color: white;
                height: 28px; width: 28px;
                margin-left: 10px;
                border-radius: 50px;
                cursor: pointer;
                &:hover {
                    background-color: rgba($color: $gray220, $alpha: 0.3);
                }
            }
            #notification { margin-right: 5px;}
        }
    }
}