// import variable
@import './variables.scss';

// styling chart page
.chart-main-container {
    position: relative;
    top: 50px;
    left: 50px;
    height: calc(100vh - 50px); 
    width: calc(100% - 50px);
    padding: 2% 50px;
    background-color: yellow;
}