// import variable
@import './variables.scss';

// styling home
.home-main-container {
    height: 100vh; width: 100vw;
    background: url('http://localhost:3000/background/background-05.jpg') no-repeat center fixed;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;
    animation: sledeBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
}