// import variable
@import './variables.scss';

// styling member page
.member-main-container {
    position: relative;
    top: 50px;
    left: 50px;
    height: calc(100vh - 50px); 
    width: calc(100% - 50px);
    background-color: yellow;
    z-index: 1;
}