// import variable
@import './variables.scss';

// styling payment page
.payment-main-container {
    position: relative;
    top: 50px;
    left: 50px;
    height: calc(100vh - 50px); 
    width: calc(100% - 50px);
    padding: 2% 50px;
    // background-color: yellow;
    .title {
        @include flex (row, space-between, center);
        width: 100%;
        // background-color: pink;
        h1 {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .sort-by {
            @include flex (row, '', center);
        }    
    }
    .payment-table-container {
        width: 100%; height: calc(100% - 50px); 
    }
}