// import variable
@import './variables.scss';

// styling vehicles page
.vehicles-main-container {
    position: relative;
    top: 50px;
    left: 50px;
    height: calc(100vh - 50px); 
    width: calc(100% - 50px);
    padding: 2% 50px;
    // background-color: yellow;
    h1 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .tab-menu {
        // @include flex (row, space-between, center);
        width: 100%;
        margin-bottom: 15px;
        // background-color: red;
    }
    .table-container {
        width: 100%; height: calc(100% - 110px);
        overflow: hidden;
        // background-color: pink;
        @include flex (row, space-between, center);
        .brand-table, .type-table {
            height: 100%; width: 49.5%;
            // background-color: green;
        }
    }
}